*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: url("/images/spiderman.png");
    background-size:cover;
    background-position: center center;
    height: 100vh;
}
.container {
    width: 80%;
    margin: 12px auto 0 auto;
}
ul {
    list-style-type: none;
}
.container ul li {
    float: left;
    width: 25%;
    text-align: center;
    background-color: black;
    color: gold;
    height: 50px;
    line-height: 50px;
    position: relative;
    border: 1px solid white;
}
.container ul li ul li , a {
    width: 100%;
    text-decoration: none;
    color: gold;
}

.container ul li:hover {
    background-color: rgb(44, 44, 44);
}
.container ul ul {
    display: none;
}
.container ul li:hover ul{
    display: block;
}
